__pycache__
__pycache__/
*.pyc
**/images/**
**/labels/**
**.pt
!**models/yolo/weights/**
runs/**
results/**
data_EfficientDet/checkpoints/
data_EfficientDet/output/
data_EfficientDet/backups/
*.pth
sample_with_boxes.jpg
